body{
    background:lavender;
    header
    {
        text-align: center;
    }
    main{
text-align: center;
width: 50%;
margin: auto;
}
table
{
    width: 100%;
    border:1px rgb(0, 0, 0);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}
input[type="text"]{width: 100%;}
input[type="password"]{width:100%}
input[type="submit"]{width:40%;color: rgb(0, 0, 0);}
input[type="reset"]{width:40%};
input[type="date"]{width: 100%;}
input[type="email"]{width: 100%;}
input[type="number"]{width: 100%;}
select{width: 100%;}
input[type="time"]{width: 100%;}
}
.textstyle
{
    color: rgb(0, 0, 0);
    font-size: 50px;
}