*{
padding: 0%;
margin: 0%;
font-family: "Eagle Lake", serif;
font-weight: 400;
font-style: normal;
}
body{
background: #f9d6e3;
}   
h1{
text-align: center;
background-color: #670D2F;
color: white;
margin-bottom: 30px;
padding: 15px;
}
.box1{
border-radius: 20px;
width: 400px;
padding: 5px;
text-align: center;
margin:20px;
margin-left: 34%;
border: 4px #670D2F dotted;
}
.box1 ul{
list-style: none;
cursor: pointer;
}
.foot{text-align: center;
color: white;
margin-top: 200px;
background-color: #670d2f8f;
padding: 6px;}
.end{
text-align: center;
background-color: #670D2F;
color: white;
}
.box1 a{
    transition: 0.3s;
    text-decoration: none;
}
.box1 a:hover{
padding-left: 8px;
}
@media(max-width:600px){
    .box1{
        width: 200px;
        margin-left: 23%;
    }
}
a:link{color:rgb(9, 0, 0);text-decoration:none;}
a:visited{color:rgb(0, 0, 0);}
a:hover{text-decoration:none;color:#670D2F;}
a:active{}
